
nav.nav-first{
      	background-color: black;
    	border-color: #E7E7E7;
        }
nav.nav-second{
      background-color: white;
    border-color: #E7E7E7;
      }
nav.no-margin{
	margin-bottom:0;
	}
	
	.logo{
	margin-left:50px;
	
	}
	
logo{
	height:75px;
	}
	
	nav.navbar-nav{
	float:right;
	}
	nav.navbar-collapse{
	height:100px;
	}